In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as pltABC
import seaborn as sns

Coffee_data = "Coffee_commodity_USDA.csv"

# Read Data File and store into Pandas Data Frames
Coffee_data_df = pd.read_csv(Coffee_data)
Coffee_data_df.head()

,Commodity_Code,Commodity_Description,Country_Code,Country_Name,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value
0,711100,"Coffee, Green",AG,Algeria,2003,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0
1,711100,"Coffee, Green",AG,Algeria,2004,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0
2,711100,"Coffee, Green",AG,Algeria,2005,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0
3,711100,"Coffee, Green",AG,Algeria,2006,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0
4,711100,"Coffee, Green",AG,Algeria,2007,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0

In [7]:
# Coffee_data_df["Base_qnty"] = Coffee_data_df.Unit_Description * Coffee_data_df.Value
Total_Qnty = 60000 * Coffee_data_df.Value
Coffee_data_df["Base_qnty"] = Total_Qnty
# df["Total Quantity"] = pd.cut(df["Total_Qnty"])
# coffee_data_clean_df = Coffee_data_df
# coffee_data_clean_df = df.dropna()

Coffee_data_df.head()

,Commodity_Code,Commodity_Description,Country_Code,Country_Name,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value,Base_qnty
0,711100,"Coffee, Green",AG,Algeria,2003,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0,0
1,711100,"Coffee, Green",AG,Algeria,2004,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0,0
2,711100,"Coffee, Green",AG,Algeria,2005,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0,0
3,711100,"Coffee, Green",AG,Algeria,2006,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0,0
4,711100,"Coffee, Green",AG,Algeria,2007,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0,0

In [3]:
# Coffee_data_df = Coffee_data_df.loc[(Coffee_data_df["Country_Name"] == "Angola")]
# Coffee_data_df

In [4]:
# clean data
coffee_data_clean_df = Coffee_data_df.dropna()

In [8]:
Coffee_top_five_prod_df = coffee_data_clean_df.sort_values("Base_qnty", ascending=False)
Coffee_top_five_prod_df.head()

,Commodity_Code,Commodity_Description,Country_Code,Country_Name,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value,Base_qnty
273,711100,"Coffee, Green",BR,Brazil,2017,2018,6,29,Arabica Production,2,(1000 60 KG BAGS),45600,2736000000
275,711100,"Coffee, Green",BR,Brazil,2019,2018,6,29,Arabica Production,2,(1000 60 KG BAGS),44500,2670000000
269,711100,"Coffee, Green",BR,Brazil,2013,2014,6,29,Arabica Production,2,(1000 60 KG BAGS),42100,2526000000
270,711100,"Coffee, Green",BR,Brazil,2014,2018,6,29,Arabica Production,2,(1000 60 KG BAGS),41800,2508000000
267,711100,"Coffee, Green",BR,Brazil,2011,2012,12,29,Arabica Production,2,(1000 60 KG BAGS),41800,2508000000